<div id="search">
  <form id="search_form">
    <input id="search_term" class="search" type="text" size="50" name="search_filter[search_terms]" value="<%=@filter.search_terms%>"/>
    <%= image_tag 'loading.gif', :border => 0, :size => "20x20", :id => "search_loader" %>
	  <input type="submit" value="Search" style="display: none;" name="commit"/>
  </form>
</div>

<script>
  $(document).ready( function() {
    $('input#search_term').example( 'Search...' );
    
    $('form#search_form' ).submit( function() {
      $.ajax( {
        beforeSend: function(request){ $('img#search_loader' ).show(); }, 
        complete:   function(request){ $('img#search_loader' ).hide(); }, 
        data:       $.param( $(this).serializeArray() ), 
        dataType:   'script', 
        type:       'post', 
        url:        '<%=@search_path%>'
      }); 
      return false;
    });
  });
</script>