<%= javascripts %w[raphael.min g.raphael.min g.dot.min] %>

<div id="dash">
  <%= partial :'dashboard/report' %>
</div>
<%= periodically_call_remote :url => "/dashboard/refresh", :frequency => @refresh_rate %>