/* the overlayed element */ 
.overlay { 
    display:                        none;
    z-index:                        10000;
    -moz-border-radius-topleft:     10px;
    -moz-border-radius-topright:    10px;
    -moz-border-radius-bottomleft:  10px;
    -moz-border-radius-bottomright: 10px;
    background-color:               #fff;
    width:                          650px;
    min-height:                     200px;
    border:                         1px solid #666;
    -moz-box-shadow:                0 0 90px 5px #000;
    -webkit-box-shadow:             0 0 90px #000;
} 
 
.overlay .close { 
    background-image: url(/images/close.png); 
    position:         absolute; 
    right:            -15px; 
    top:              -15px; 
    cursor:           pointer; 
    height:           35px; 
    width:            35px; 
}