* {
  outline-color: invert;
  outline-style: none;
  outline-width: medium;
  margin:        0px;
  padding:       0px;
}             

body {
	font-family:      "Gill Sans","Lucida Grande","Lucida Sans Unicode","bitstream vera sans","trebuchet ms","verdana";
  background:       #f2f2f2 repeat-x top left;
	color:            #434343;
  font-size:        13px;
	font-size-adjust: none;
	font-stretch:     normal;
	font-style:       normal;
	font-variant:     normal;
	font-weight:      normal;
  margin:           0;
}

div#overall {
  margin:     0px auto;
  width:      1000px;
  overflow:   none;
  margin-top: 30px;
}

div#logo {
  float:         left;
  width:         45%;
  margin-bottom: 10px;
}

div#main {
  clear:      both;
  margin:     40px 10px 10px 20px;
  text-align: left;
  overflow:   none;
}

div#navigation {
  margin:                         10px 0px 20px 0px;
  padding:                        5px 0px 5px 0px;
  font-size:                      2.5em;
  text-align:                     right;
  background:                     #c1c1c1 url(../images/fade.png) repeat-x;  
  -moz-border-radius-bottomleft:  2px;
  -moz-border-radius-topleft:     2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-topright:    2px;  
}

a.site_link {
  color:           #646464;
  font-weight:     bold;
  text-decoration: none;
  font-variant:    small-caps;
}
a.site_link:hover {
  color        : #1779ff;
  border-bottom: 5px #1779ff solid;
  text-decoration: none;  
}
a.current {
  padding:       0px;
  border-bottom: 5px #646464 solid;
}

div#app_info {
  text-align: right;  
  font-size:  4em;
}
div#app_info span#env {
  font-style: italic;
}
div#app_info p {
  text-align: right;  
  font-size:  0.5em;
}

#header {
  background: #fff;
}

p {
  font-size:  2em;
  text-align: left;
  color:#666;
}

.img {
  -moz-border-radius-bottomleft:  7px;
  -moz-border-radius-topleft:     7px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-topright:    7px;
}

ul {
  color:               #434343;
  list-style-image:    none;
  list-style-position: outside;
  list-style-type:     none;
}

.pagination {
  text-align: center;
}
.pagination a {
  color:                       #989c9e;
  -moz-border-radius-topright: 8px;  
  background-color:            #fcfcfc;
  font-size:                   1em;
  text-decoration:             none;
  margin:                      0px 2px;
  padding:                     3px 3px 1px;
  border:                      1px #d3d3d3 solid;
  
}
.pagination a:hover {
  color:          #0d94cc;
  background:     #e6f8ff;
  border-color:   #35a0cc;
}
.pagination .current {
  background-color:            #fff5e6;
  -moz-border-radius-topright: 8px;  
  border:                      1px #d3d3d3 solid;
  color:                       #3864a7;
  padding:                     3px 3px 1px;  
  font-size:                   1em;
}
.pagination .disabled {
}

.pagination a.next_page {
  padding-top: 0px;
  border:     none;
  background: transparent url(../images/next.png) no-repeat;
}
.pagination a.prev_page {
  border:      none;
  padding-top: 0px;  
  background: transparent url(../images/prev.png) no-repeat;
}

.pagination span {
  border:  none;  
  padding: 2px 3px 1px;  
}
.pagination span.next_page {
  padding: 0px 5px 1px;  
  background: transparent url(../images/next.png) no-repeat;
}

.pagination span.prev_page {
  padding: 0px 5px 1px;
  background: transparent url(../images/prev.png) no-repeat;
}


/* Filters */
div#filters {
  color:                          #434343;
  border:                         1px #242424 solid;    
  background:                     #242424 url(../images/fade.png) repeat-x;
  padding:                        5px 10px 10px 10px;
  -moz-border-radius-topleft:     7px;
  -moz-border-radius-topright:    7px;  
  -moz-border-radius-bottomleft:  7px;  
  -moz-border-radius-bottomright: 7px;
  margin-bottom:                  10px;
  overflow:                       auto;
}

div#logs {
  border:                         1px #242424 solid;    
  background:                     #c1c1c1 url(../images/fade.png) repeat-x;
  padding:                        0px 10px 10px 10px;
  -moz-border-radius-topleft:     7px;
  -moz-border-radius-topright:    7px;  
  -moz-border-radius-bottomleft:  7px;  
  -moz-border-radius-bottomright: 0px;
  margin-bottom:                  10px;
}

div#users {
  border:                         1px #242424 solid;    
  background:                     #c1c1c1 url(../images/fade.png) repeat-x;
  padding:                        0px 10px 10px 10px;
  -moz-border-radius-topleft:     7px;
  -moz-border-radius-topright:    7px;  
  -moz-border-radius-bottomleft:  7px;  
  -moz-border-radius-bottomright: 0px;
  margin-bottom:                  10px;
}

#filter_form fieldset {
  border:  none;
  display: block;
}
#filter_form fieldset label {
  width:   100px;
  display: block;
}
#filter_form fieldset.inline {
  float: left;
}

/* Titles */
p.title {
  font-size:   3em;
  text-align:  left;
  color:       #434343;  
  font-weight: bold;
}

/* Links */
a.log {
  color:           #434343;
  text-decoration: none;
}
a.log:hover {
  text-decoration: underline;
}
a.feature {
}
a.perf {
  font-variant: small-caps;
}
a.fault {
  font-variant: small-caps;
}

/* Flashes */
div#flash {
  background:                     #9f4f50 url(../images/fade.png) repeat-x;
  -moz-border-radius-topleft:     7px;
  -moz-border-radius-topright:    7px;
  -moz-border-radius-bottomleft:  7px;
  -moz-border-radius-bottomright: 7px;
  border:                         1px solid #434343;
  margin:                         10px;
  padding:                        10px;
  font-size:                      1.5em;
}

div#flash .error {
  color: red;
}
div#flash .info {
  color: blue;
}

/* Tables */
table.logs {
  width:           100%;
  border-collapse: collapse;
  border-spacing:  0;  
  text-align:      left;
}
table.logs tr {
}
table.logs tr td {
  -moz-background-clip:          border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin:        padding;  
  padding:                       0px;
}
table.logs tr.highlight {
  color:       #994949;
/*  font-weight: bold;*/
  cursor:      pointer;  
}
table.logs thead {
  font-weight:   normal;
  border-bottom: 1px #434343 solid;
  padding:       .5em .5em;
}
table.logs tr.fault {
  background: #ff7d1d url(../images/row_fade.png) repeat-x;
}
table.logs tr.feature {
}
table.logs tr.perf {
  background: #6f6ffd url(../images/row_fade.png) repeat-x;
}

table.info {
  border-spacing: 0;
  color:          #666666;
  font-size:      1em;
}
table.info tr td.label {
  color:     #3664a7;
  font-size: 1.2em;
}
table.info tr td {
  -moz-background-clip:          border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin:        padding;  
  padding:                       2px 10px;
}

table.moled {
  border-color:   #EEEEEE #EEEEEE -moz-use-text-color -moz-use-text-color;
  border-spacing: 5;
  border-style:   solid solid none none;
  border-width:   1px 1px 0 0;
  color:          #666666;
  font-size:      0.8em;
}
table.moled thead {
  background: #F7F7F7 none repeat scroll 0 0;  
}
table.moled tr td.label {
  color:     #962920;
  font-size: 1.2em;
}
table.moled th {
  font-weight: bold;
  padding:     2px 10px;  
}
table.moled tr td {
  -moz-background-clip:          border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin:        padding;
  border-bottom:                 1px solid #EEEEEE;
  border-left:                   1px solid #EEEEEE;
  padding:                       2px 10px;
}
