<table class="moled">
  <thead>
    <th width="10%">Parameter</th>
    <th width="80%">Value</th>
  </thead>
  <tbody>  
    <% hash.keys.sort.each do |k| %>
      <tr>
        <td class="label"><%=k%></td>
        <td><%=hash[k]%></td>
      </tr>
    <% end %>
  </tbody>
</table>