<%= javascripts %w[jquery.example jquery.tools.min] %>

<div id="filter">
  <%= partial :'shared/filter' %>
</div>

<div id="logs" class="spe_corners">
  <%= partial :'logs/rows' %>
</div>

<script>
  $( function() {
     $('a.logs').addClass( 'current' );
  });     
</script>