<table class="moled">
  <thead>
    <th width="100%">Trace</th>
  </thead>
  <tbody>  
    <% array.each do |stack| -%>
      <tr>
        <td><%=stack%></td>
      </tr>
    <% end -%>
  </tbody>
</table>