<div id="filter">
  <%= render :partial => 'shared/filter' -%>
</div>

<div id="logs">
  <%= render :partial => 'logs' -%>
</div>

<script>
  $( function() {
     $('a.logs').addClass( 'current' );
  });     
</script>