<div id="search">
  <% form_remote_for @filter,
      :url      => search_features_url,
      :loading  => "$('img#loader' ).show();",
      :complete => "$('img#loader' ).hide()",
      :html     => { :method => 'post', :id => 'search_form', :style => "text-align:right;" } do |f|-%>

    <%= f.text_field :search_terms, :class => 'search', :style => "width:180px;float:left" -%>
    <%= image_tag 'loading.gif', :border => 0, :size => "22x22", :id => "loader", :style => "margin-top:9px;display:none" -%>    
	  <%= submit_tag "Search", :style => "display:none" -%>
  <% end %>    
</div> 

<script>
  $(document).ready( function() {
    $('input#search_term').example( 'Search...' );
  });
</script>