<%= render :partial => 'filter' -%>

<div id="features">
  <%=render :partial => 'features' -%>
</div>

<script>
  $( function() {
    $('a.features').addClass( 'current' );

    $('a.nav_link').click( function() {
      $("a.nav_link").removeClass( "current" );   
      $(this).addClass( 'current' );    
      return true;
    });
    
    $('.pagination a').live( 'click', function() {
      $("#content").html( '<%=render "wait"%>' ); 
      $.getScript( this.href );
      return false;
    });  
  });
</script>

